<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MENU</title>
    <link rel="stylesheet" href="/styles/menu.css" types="text/css">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="/styles/nav.css" types="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Italiana&family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="nav.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
  <nav><%- include('partials/_header') %></nav>
    <h1>MENU PAGE</h1>
   <% for (let item of imageURL) { %>

    <article class="foodBox">
      <section class="foodBox-img">
        <img src='<%= item.url%>'>
      </section>
      <section class="container">
      <form METHOD="POST" action="/menu">
      <section class="foodBox-description">
        <h3 class="foodBox-title" > <%= item.name %></h3>
        <input id="itemID" name="itemID" type="hidden" value="<%= item.id%>">
        <p class="foodBox-text"><%= item.description  %></p>
      </section>
      <section class="price">
        <h5 class="foodBox-price" ><%=item.price %></h5>
        <input id="price" name="price" type="hidden" value="<%=item.price %>">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" min="0" max="10" value="0">
        <button type="submit" class="foodBox-add-order">Add to Order</button>
      </section>
      <footer>
      </form>
      </footer>
    </section>
  </article>

  <% } %>
  <form Method="POST" action="/orders">
    <button> Submit Order</button>
  </form>

  </body>
</html>
