<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orders</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="nav.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  <body>
    <nav>
      <%- include('partials/_header') %>
    </nav>
    <section>
      <div class="home-pic">
      <h1 class="headline">BENVENUTO E MANGIA!</h1>
      </div>
    </section>
    <h1>FOOD APP</h1>
    <h3>Orders page</h3>
    <section>
      <h1>YOUR ORDER SUMMARY</h1>
      <% for (let item of summary) { %>
      <article>
        <section>
          <ul>
            <li><%=item.quantity%>
              <%=item.name%>
              <%=item.orderItemTotal%></li>
          </ul>
        </section>
        <section>

        </section>
      </article>
    </section>
      <% } %>
      <h2>YOUR TOTAL: <%= total %></h2>
    <a href ="/home">Back to home</a>
    <a href ="/checkout">Checkout</a>

  </body>
</html>
